Fabric==1.8.1
Flask==0.10.1
GnuPGInterface==0.3.2
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
command-not-found==0.2.44
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
ecdsa==0.10
hiredis==0.1.2
itsdangerous==0.23
language-selector==0.1
paramiko==1.12.1
pycrypto==2.6.1
python-apt==0.8.3ubuntu7
python-dateutil==2.2
python-debian==0.1.21ubuntu1
pytz==2013.9
redis==2.9.0
rq==0.3.13
six==1.5.2
times==0.6.2
ufw==0.31.1-1
wsgiref==0.1.2
